<section class="product__container">
    <div class="product-image__container">
        <img [src]="produto?.imagem">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{ produto?.descricao }}</h2>
        <h3 class="product__price">{{ produto?.preco | currency: "BRL"}}</h3>

        <p>Em estoque</p>

        <label>
            Quantidade:
            <input type="number" [(ngModel)]="qnt" min="1">
            Unidade(s)
        </label>

        <p class="product__avaiability">
            {{ produto?.qtdEst }} Unidade(s) restantes
        </p>

        <button (click)="addCarrinho()">Add ao carrinho</button>
    </div>

</section>
