
<h2 class="cart-title">Carrinho</h2>

<div *ngIf="itensCarrinho.length > 0; else carrinhoVazio" class="main_cart">
    <div class="itens__carrinho">
      <ul>
          <li *ngFor="let itemCarrinho of itensCarrinho">
              <img [src]="itemCarrinho.imagem">
              <p> {{ itemCarrinho.descricao }} </p>
              <p>Valor: {{ itemCarrinho.preco | currency: "BRL"  }} </p>
              <label>
                  Quantidade:
                  <input type="number" [(ngModel)] = "itemCarrinho.qtd" (change)="totalCalc()">
              </label>
              <button class="remove-button" (click)="removeProdCarrinho(itemCarrinho.id)"><i class="fa-solid fa-trash-can"></i></button>
          </li>
      </ul>
      <h2 class="cart-total">Total: {{ total | currency: "BRL" }} </h2>
    </div>

    <div class="endereco__pedido">
      <form class="contact-form" [formGroup]="formCont">
        <!-- CAMPO NOME -->
        <input
            type="text"
            placeholder="Nome"
            formControlName="nome"
            [class.valid]="formCont.controls['nome'].valid"
            [class.invalid]="formCont.controls['nome'].invalid &&
            (formCont.controls['nome'].touched || formCont.controls['nome'].dirty)"
        >
        <div *ngIf="formCont.controls['nome'].invalid &&
        (formCont.controls['nome'].touched || formCont.controls['nome'].dirty)">
            <small class="error-message" *ngIf="formCont.controls['nome'].hasError('minlength')">
                Tamanho mínimo de caracteres: 3.
            </small>
            <small class="error-message" *ngIf="formCont.controls['nome'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>

        <!-- CAMPO ENDEREÇO -->
        <input
        type="text"
        placeholder="Endereço"
        formControlName="assunto"
        [class.valid]="formCont.controls['assunto'].valid"
        [class.invalid]="formCont.controls['assunto'].invalid &&
        (formCont.controls['assunto'].touched || formCont.controls['assunto'].dirty)"
        >
        <div *ngIf="formCont.controls['assunto'].invalid &&
        (formCont.controls['assunto'].touched || formCont.controls['assunto'].dirty)">
            <small class="error-message" *ngIf="formCont.controls['assunto'].hasError('minlength')">
                Tamanho mínimo de caracteres: 10.
            </small>
            <small class="error-message" *ngIf="formCont.controls['assunto'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>

        <!-- CAMPO TELEFONE -->
        <input
        type="tel"
        placeholder="Telefone"
        formControlName="telefone"
        mask = "(00) 0 0000-0000"
        [class.valid]="formCont.controls['telefone'].valid"
        [class.invalid]="formCont.controls['telefone'].invalid &&
        (formCont.controls['telefone'].touched || formCont.controls['telefone'].dirty)"
        >
        <div *ngIf="formCont.controls['telefone'].invalid &&
        (formCont.controls['telefone'].touched || formCont.controls['telefone'].dirty)">
            <small class="error-message" *ngIf="formCont.controls['telefone'].hasError('minlength')">
                Telefone inválido.
            </small>
            <small class="error-message" *ngIf="formCont.controls['telefone'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>

        <!-- CAMPO EMAIL -->
        <input
        type="email"
        placeholder="Email"
        formControlName="email"
        [class.valid]="formCont.controls['email'].valid"
        [class.invalid]="formCont.controls['email'].invalid &&
        (formCont.controls['email'].touched || formCont.controls['email'].dirty)"
        >
        <div *ngIf="formCont.controls['email'].invalid &&
        (formCont.controls['email'].touched || formCont.controls['email'].dirty)">
            <small class="error-message" *ngIf="formCont.controls['email'].hasError('minlength')">
                Email inválido.
            </small>
            <small class="error-message" *ngIf="formCont.controls['email'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>
      </form>
    </div>

    <button class="buy-button" (click)="comprar()" [disabled]="formCont.invalid">Comprar</button>

</div>

<ng-template #carrinhoVazio>
    <div class="container">
        <i class="fa-solid fa-cart-shopping"></i>
        <h3 class="empty-cart"> Carrinho vazio!!!</h3>
    </div>
</ng-template>
